
@{
    ViewBag.Title = "Index";
}


<div class="bd-example-row">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-2">
                    <span>A1</span>
                </div>
                <div class="col-lg-2">
                    <span>A2</span>
                </div>
                <div class="col-lg-2">
                    <span>A3</span>
                </div>
                <div class="col-lg-2">
                    <span>A4</span>
                </div>
                <div class="col-lg-2">
                    <span>A5</span>
                </div>
                <div class="col-lg-2">
                    <span>A6</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <span>Test Row 2</span>
        </div>
        <div class="col-lg-4">
            <span>Test Row 3</span>
        </div>
    </div>
</div>
