
@{
    ViewBag.Title = "_Navigation";
}

<style>
    .sep {width:10px;}
</style>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td>Univeristy Name</td>
                <td class="sep">:</td>
                <td>MSU Baroda</td>
            </tr>
            <tr>
                <td>Univeristy Name</td>
                <td class="sep">:</td>
                <td>DDU Nadiad</td>
            </tr>
        </table>
    </div>
</div>