@{
    ViewBag.Title = "Student";
}
<button id="btnCallAjax">Call Ajax</button>
<div>
    <span>Total Students</span>
    <span id="totalStudents"></span>
</div>
@section scripts{

    <script type="text/javascript">
        $(function () {
            init();
        });

        function init() {
            $.ajax({
                type: "POST",
                url: "/Home/GetStudentCounts",
                success: function (result) {
                    $("#totalStudents").text(result.TotalStudent);
                },
                error: function (response) {
                    alert("Javascipt Error");
                }
            });
        }
    </script>
}